<!-- begin:about -->
<a name="azienda"></a>
<div id="about" class="block-section image-block bg-white">
  <div class="container-fluid container-no-padding">
    <div class="row row-no-margin">
      <div class="image-block-item col-md-6 col-sm-5 col-xs-12">
        <div class="image-block-item-background" style="background-image: url('/image/home/chi-siamo.jpg'); background-position:bottom; background-repeat:no-repeat; background-size:cover;"></div>
      </div><!-- .image-block-item -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->

  <div class="container clear">
    <div class="row">
      <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-80-top padd-60-btm">
        <div class="section-title">
          <h2>L'Azienda</h2>
        </div>
        <p>Da oltre 30 anni operiamo nel settore delle pavimentazioni in calcestruzzo nella zona del nord Italia ed in particolare su Torino e provincia. Realizzare pavimenti è la nostra passione prima ancora che il nostro lavoro.</p>
        <p>Nel corso degli anni abbiamo espanso i nostri prodotti dando ai nostri clienti un'ampia gamma di scelta di tipologie e colori che è possibile ottenere.</p><p>Il nostro obiettivo è sempre cercare di raggiungere il massimo della qualità in termini di prodotto realizzato in modo da consegnare una superficie di ottima rappresentanza estetica e allo stesso tempo duratura nel corso degli anni.</p>
        <p><a class="button btn-danger popup-video" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FPaviCatalano%2Fvideos%2F1485015068237358%2F&show_text=0&width=560"><i class="fa fa-wrench"></i>Guarda il video</a></p>
      </div><!-- .col-## -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #about -->
<!-- end:about -->
