<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="header-caption">
        <h1 class="caption-title">Realizziamo rampe in cemento</h1>
        <p>Per le caratteristiche di robustezza e resistenza nel tempo, le rampe di accesso veicolare si realizzano comunemente in calcestruzzo.</p> 
	<p>Due tipi di finiture: pettinata e a spina di pesce. Quest’ultima si realizza incidendo a fresco lo strato di quarzo-cemento con degli stampi appositi, la superficie che si ottiene favorisce l’aderenza degli pneumatici anche in condizioni difficili.</p> 
	<p>La tipologia pettinata è maggiormente consigliata per passaggi pedonali e carrozzine.</p> 
	<p>Le rampe in calcestruzzo sono utilizzate in abitazioni private, centri commerciali, garage, autosilo e industrie.</p>
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->


