<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="header-caption">
        <h1 class="caption-title">Realizziamo pavimenti in cemento tradizionale</h1>
        <p>Il cemento armato lavorato con indurente al quarzo, è composto principalmente da cemento, acqua ed inerti miscelati tra di loro in dosi corrette, il risultato è molto resistente con un ottimo livello di permeabilità.</p> 
	<p>Ha diversi utilizzi nel settore dell’edilizia per le sue caratteristiche di resistenza e durezza.</p>
	<p>Consigliamo questa tipologia di pavimentazione per infrastrutture, grandi opere, aree industriali, magazzini, piazzali, parcheggi e altre tipi di superfici che necessitano di basi d’appoggio sicure e forti.</p>
	<p>Ci operiamo per garantire al cliente il miglior risultato funzionale con finiture superficiali di alta qualità meccanica con possibilità di scelta di differenti colorazioni sia per la lavorazione a spolvero che a pastina.</p>
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->

