<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="header-caption">
        <h1 class="caption-title">Realizziamo pavimenti in resina</h1>
        <p>Pavimenti specifici per richieste di alti standard, hanno svariate caratteristiche: resistenza chimica e all’usura, durevolezza  ed elasticità. Il risultato sono superfici continue ed igieniche in conformità con le norme vigenti in ogni specifico settore.</p>
	<p>I trattamenti in resina sono adatti per superfici nuove o ammalorate  da recuperare.</p><p>Utilizziamo le migliori soluzioni tecnologiche, personalizzabili ed ecosostenibili con materiali privi di inquinanti e solventi.</p>
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->




