.home .service.content-section {
  padding: 30px 0px 20px 0px;
}
.home .info-home {
  color: #000;
}
.site-branding .site-title.title-image img {
  max-height: 50px;
}
@media only screen and (max-width: 600px) {
  .site-branding .site-title.title-image img {
    max-height: 30px;
  }
  .main-navigation #primary-menu {
    max-height: 600px;
  }
}

.blog-entry a {
  color: #000;
}
.blog-entry h2 {
  color: #000;
}
.blog-entry:hover a {
  color: #000;
  text-decoration: underline;
}
.blog-entry:hover h2 {
  color: #000;
}
.blog-entry:hover p {
  color: #000;
}
