<!-- begin:additional-info -->
<div id="additional-info" class="additional-info block-section bg-grey padd-20-top padd-40-btm">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="contact-item">
          <div class="contact-item-icon">
            <i class="fa fa-phone"></i>
          </div><!-- .contact-item-icon -->
          <h4 class="contact-item-title">Telefono:</h4>
          <div class="contact-item-info"><a class="info-home" href="tel:+39336204388">+39 336204388</a></div>
        </div><!-- .contact-item -->
      </div><!-- .col-# -->

      <div class="col-md-3 col-sm-6">
        <div class="contact-item">
          <div class="contact-item-icon">
            <i class="fa fa-envelope-o"></i>
          </div><!-- .contact-item-icon -->
          <h4 class="contact-item-title">Email:</h4>
          <div class="contact-item-info"><a class="info-home" href="mailto:catalano.pavi13@gmail.com" target="_blank">catalano.pavi13@gmail.com</a></div>
        </div><!-- .contact-item -->
      </div><!-- .col-# -->

      <div class="col-md-3 col-sm-6">
        <div class="contact-item">
          <div class="contact-item-icon">
            <i class="fa fa-map-marker"></i>
          </div><!-- .contact-item-icon -->
          <h4 class="contact-item-title">Indirizzo:</h4>
          <div class="contact-item-info">Via P.Nenni 1/5 Orbassano (TO)</div>
        </div><!-- .contact-item -->
      </div><!-- .col-# -->

      <div class="col-md-3 col-sm-6">
        <div class="contact-item">
          <div class="contact-item-icon">
            <i class="fa fa-clock-o"></i>
          </div><!-- .contact-item-icon -->
          <h4 class="contact-item-title">Orari:</h4>
          <div class="contact-item-info">Lun - Sab: 7.00 - 18:00</div>
        </div><!-- .contact-item -->
      </div><!-- .col-# -->
    </div><!-- .row -->
  </div><!-- container -->
</div><!-- #additional-info -->
<!-- end:additional-info -->
