<!-- begin:service -->
<div id="service" class="service content-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-entry">
          <a href="#" class="blog-entry-thumbnail">
            <img src="assets/img/img-service-01.jpg" alt="metal roofting" class="img-responsive">
          </a>
          <div class="blog-entry-header">
            <h2 class="entry-title"><a href="#" rel="bookmark">Metal Roofting</a></h2>
          </div><!-- .blog-entry-header -->
          <div class="blog-entry-content">
            <p>Construction offer you the best in metal roofing services, supplies and materials to help protect one of your biggest investments you will ever make, your home. There is no better way to protect …</p>
            <p><a href="#" class="read-more">Read more &#43;</a></p>
          </div><!-- .blog-entry-content -->
        </div><!-- .blog-entry -->
      </div><!-- .col-md-4 -->

      <div class="col-md-4">
        <div class="blog-entry">
          <a href="#" class="blog-entry-thumbnail">
            <img src="assets/img/img-service-02.jpg" alt="green building" class="img-responsive">
          </a>
          <div class="blog-entry-header">
            <h2 class="entry-title"><a href="#" rel="bookmark">Green Building</a></h2>
          </div><!-- .blog-entry-header -->
          <div class="blog-entry-content">
            <p>By choosing to build green, you aremaking an effort to reduce the burden on the environment and also add value to your home. Construction provides you with the guidance and the tools that are necessary …</p>
            <p><a href="#" class="read-more">Read more &#43;</a></p>
          </div><!-- .blog-entry-content -->
        </div><!-- .blog-entry -->
      </div><!-- .col-md-4 -->

      <div class="col-md-4">
        <ul class="blog-entry-list">
          <li>
            <span class="entry-post-thumbnail">
              <img src="assets/img/img-service-03.jpg" alt="construction Consultant">
            </span>
            <div class="entry-post-content">
              <h4 class="entry-post-title"><a href="#">Construction Consultant</a></h4>
              <p>Process of Consultation Whether you know exactly how you ...</p>
            </div><!-- .entry-post-content -->
          </li><!-- #post-## -->
          <li>
            <span class="entry-post-thumbnail">
              <img src="assets/img/img-service-04.jpg" alt="General Contracting">
            </span>
            <div class="entry-post-content">
              <h4 class="entry-post-title"><a href="#">General Contracting</a></h4>
              <p>Construction With a reputation built on offering superior ...</p>
            </div><!-- .entry-post-content -->
          </li><!-- #post-## -->
          <li>
            <span class="entry-post-thumbnail">
              <img src="assets/img/img-service-05.jpg" alt="Construction Management">
            </span>
            <div class="entry-post-content">
              <h4 class="entry-post-title"><a href="#">Construction Management</a></h4>
              <p>We offer commitment at all levels of building project, from preparing ...</p>
            </div><!-- .entry-post-content -->
          </li><!-- #post-## -->
          <li>
            <span class="entry-post-thumbnail">
              <img src="assets/img/img-service-06.jpg" alt="House Renovation">
            </span>
            <div class="entry-post-content">
              <h4 class="entry-post-title"><a href="#">House Renovation</a></h4>
              <p>Interior There are a number of great reasons to makeover ...</p>
            </div><!-- .entry-post-content -->
          </li><!-- #post-## -->
        </ul><!-- .blog-entry-list -->
      </div><!-- .col-md-4 -->
    </div><!-- .row -->
  </div><!-- container -->
</div><!-- #service -->
<!-- end:service -->
