<div class="col-md-4">
  <div class="blog-entry">
    <div class="blog-entry-header">
      <a href="<%= service.link %>"><h2 class="entry-title"><%= service.title %></h2></a>
    </div><!-- .blog-entry-header -->
    <a href="<%= service.link %>" class="blog-entry-thumbnail">
      <img src="<%= service.img %>" alt="<%= service.title %>" class="img-responsive">
    </a>
    <div class="blog-entry-content">
      <p><%= service.desc %></p>
      <p><a href="<%= service.link %>" class="read-more">Leggi di &#43;</a></p>
    </div><!-- .blog-entry-content -->
  </div><!-- .blog-entry -->
</div><!-- .col-md-4 -->
