<div class="col-sm-4">
  <div class="blog-entry">
    <a href="#" class="blog-entry-thumbnail">
      <img src="<%= service.img %>" alt="Construction Consultant" class="img-responsive">
    </a>
    <div class="blog-entry-header">
      <h2 class="entry-title"><a href="<%= service.link %>" rel="bookmark"><%= service.title %></a></h2>
    </div><!-- .blog-entry-header -->
    <div class="blog-entry-content">
      <p><%= service.desc %>...</p>
      <p><a href="<%= service.link %>" class="read-more">Leggi di +</a></p>
      </div><!-- .blog-entry-content -->
  </div><!-- .blog-entry -->
</div><!-- .col-## -->
