<!-- begin:testimonial -->
<div id="testimonial" class="block-section image-block bg-light">
  <div class="container-fluid container-no-padding">
    <div class="row row-no-margin">
      <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
        <div class="image-block-item-background" style="background-image: url('assets/img/img-content-03.jpg');"></div>
      </div><!-- .image-block-item -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->

  <div class="container clear">
    <div class="row">
      <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-60-top padd-100-btm">
        <div class="section-title">
          <h2>What People Says</h2>
        </div>
        <div class="carousel slide testimony-dark" id="testimony" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#testimony" data-slide-to="0" class="active"></li>
            <li data-target="#testimony" data-slide-to="1" class=""></li>
          </ol><!-- .carousel-indicators -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <p>Recently we had to redesign our landing page and were looking for a template that fit our needs. We found this template which far exceeded our expectations</p>
              <img class="testimony-item-image" src="assets/img/img-testimony-01.jpg">
              <span class="testimony-item-source source-alt"><strong>David Groot</strong> Shark Inc.</span>
            </div><!-- .item -->
            <div class="item">
              <p>I don't know what else to say. It had everything we wanted and was better designed than anything we could have accomplished on our own. Thanks for the great work.</p>
              <img class="testimony-item-image" src="assets/img/img-testimony-02.jpg">
              <span class="testimony-item-source source-alt"><strong>Max Well</strong> Cooldad</span>
            </div><!-- .item -->
          </div><!-- .carousel-inner -->
        </div><!-- #client-says -->
      </div><!-- .col-## -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #testimonial -->
<!-- end:testimonial -->
