<!-- begin:footer -->
<footer id="colophon" class="site-footer bg-black" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <section class="widget">
          <img src="/image/logo-footer.png" alt="bootstrap theme for construction companies" class="img-responsive marg-20-btm marg-20-top">
          <p>Pavicat è un marchio di Pavi S.a.s. di Catalano Giovanni & C. </p>
        </section><!-- .widget -->
      </div><!-- .col-## -->

      <div class="col-md-2 col-sm-6 col-md-offset-1 col-sm-offset-0">
        <section class="widget">
          <h3 class="widget-title">L'azienda</h3>
          <ul>
            <li><a href="#azienda">Azienda</a></li>
            <li><a href="#work">Opere</a></li>
            <li><a href="#client">Clienti</a></li>
	    <br>
	    <li><a href="https://www.iubenda.com/privacy-policy/88724875" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a></li>
	    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          </ul>
	  <div class="widget widget_brocure">
	    <h3 class="widget-title">Brochure</h3>
	    <ul class="nav nav-pills nav-stacked">
	      <li role="presentation" class="active"><a href="/PresentazionePavicat.pdf"><i class="fa fa-file-pdf-o"></i> <span>Download pdf</span></a></li>
	    </ul><!-- .nav-stacked -->
	  </div><!-- .widget -->
        </section><!-- .widget -->
      </div><!-- .col-## -->

      <div class="col-md-3 col-sm-6">
        <section class="widget">
          <h3 class="widget-title">Servizi</h3>
          <ul>
            <li><a href="/servizi/pavimenti-cemento-elicotterato">Pavimenti in cemento elicotterato</a></li>
	    <li><a href="/servizi/pavimenti-cemento-stampato">Pavimenti in cemento stampato</a></li>
            <li><a href="/servizi/pavimenti-cemento-acidificato">Pavimenti in cemento acidificato</a></li>
            <li><a href="/servizi/pavimenti-cemento-sasso-lavato">Pavimenti in cemento sasso lavato</a></li>
	    <li><a href="/servizi/rampe-cemento">Rampe in cemento antiscivolo</a></li>
	    <li><a href="/servizi/pavimenti-resina">Pavimenti in resina</a></li>
	  </ul>
        </section><!-- .widget -->
      </div><!-- .col-## -->

      <div class="col-md-3 col-sm-6">
        <section class="widget">
          <h3 class="widget-title">Contatti</h3>
          <p>Pavi S.a.s.<br> di Catalano Giovanni & C.<br> via Pietro Nenni n.1/5<br>10043 ORBASSANO(TO)</p>
          <p>P.Iva/CF: 11601170019<br>Pec: <a href="mailto:pavi.sas@pec.it" target="_blank">pavi.sas@pec.it</a><br>Sdi: M5UXCR1<br>Cel: <a href="tel:+393395352412" target="_blank">339 5352412</a><br>Email: <a href="mailto:info@pavicat.it" target="_blank">info@pavicat.it</a></p>
        </section>
      </div><!-- .col-## -->
    </div><!-- .row -->
  </div><!-- .container -->
</footer><!-- #colophon -->
<!-- end:footer -->

<!-- begin:copyright -->
<section id="copyright" class="copyright bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 copy-left">
        <p>Copyright &copy; 2020 <strong>Pavicat</strong>. All Right Reserved.</p>
      </div><!-- .col-sm-6 -->

      <div class="col-sm-6 copy-right">
        <ul class="social-icon">
          <li><a href="https://www.facebook.com/PaviCatalano/" target="_blank" class="icon-facebook"><i class="fa fa-facebook"></i></a></li>
	  <li><a href="https://www.instagram.com/pavi_cat/?hl=it" class="nav-item" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="mailto:info@pavicat.it" target="_blank" class="nav-item"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
      </div><!-- .col-sm-6 -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- #copyright -->
<!-- begin:copyright -->
