<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="header-caption">
        <span class="caption-subtitle">Pavimentazioni Catalano</span>
        <h1 class="caption-title">Realizziamo pavimenti industriali e civili in cemento e in resina. Rampe veicolari in cemento.</h1>
        <p>Fin dal 1980 operiamo in Torino, provincia e nel resto del nord Italia. Siamo specializzati nella realizzazione di pavimentazioni in calcestruzzo e trattamenti in resina. Ci applichiamo con la massima dedizione e impegno su ogni cantiere dal momento del sopralluogo fino alla consegna dei lavori.</p>
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->
