<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="header-caption">
        <span class="caption-subtitle">Our Service</span>
        <h2 class="caption-title">We are your best homes, offices renovations and construction solution.</h2>
        <p>We provide overall planning, coordination and control of a project, so you don’t have to worry about anything. Our promise as a contractor is to build community value into every project while delivering professional expertise.</p>
        <div class="header-action-button">
          <a class="btn btn-warning btn-md" href="#">Purchase</a>
          <a class="btn btn-default btn-bordered  btn-md" href="#">Learn more</a>
        </div><!-- header-action-button -->
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->
