<a name="top"></a>
<!-- begin:topbar -->
<div id="topbar" class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="nav-utility">
          <span class="nav-item">Pavicat marchio di Pavi S.a.s. di Catalano Giovanni & C.</span>
        </div><!-- .nav-utility -->
      </div><!-- .col-sm-8 -->
      <div class="col-sm-4 hidden-xs">
        <div class="nav-utility nav-right">
          <a href="https://www.facebook.com/PaviCatalano" class="nav-item" target="_blank"><i class="fa fa-facebook"></i></a>
	  <a href="https://www.instagram.com/pavi_cat/?hl=it" class="nav-item" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="mailto:info@pavicat.it" target="_blank" class="nav-item"><i class="fa fa-envelope-o"></i></a>
	  <!-- <a href="#" class="nav-item"><i class="fa fa-linkedin"></i></a> -->
        </div><!-- .nav-utility -->
      </div><!-- .col-sm-4 -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .topbar -->
<!-- end:topbar -->
