<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="header-caption">
        <h1 class="caption-title">Realizziamo pavimenti in cemento sasso lavato</h1>
        <p>Particolare pavimentazione ottenuta mescolando al cemento: sassi di fiume o pietra naturale, graniglia di marmi e una miscela fibrorinforzata colorata e additivata.</p>
	<p>Consigliamo questa soluzione per piazze, marciapiedi, aree pedonali, piscine, terrazze e viali in parchi e giardini.</p>
	<p>Le principali caratteristiche sono: praticità, sicurezza, resistenza e antisdrucciolo.</p> 
	<p>Abbiamo la possibilità di realizzare diverse configurazioni con tipologie e colorazioni a scelta del cliente.</p> 
	<p>E’ la migliore alternativa alla ghiaia per manutenzione e costi ridotti, elimina il problema delle erbe infestanti e la necessità di ricomporre i ciottoli che presentano problematiche col tempo.</p>
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->



