<!-- begin:client -->
<div id="client" class="client block-section bg-white padd-40-top padd-40-btm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Alcuni dei nostri clienti</h2>
        </div>
      </div><!-- .col-md-12 -->
    </div><!-- .row -->
    <div class="row">
    <div class="row">
      <div class="col-md-12">
        <div id="slider-thumbnail" class="owl-carousel owl-theme client-slider slider-carousel navigation-hide">
	  <% clients.client.forEach(function(client){ %>
	  <div class="item">
            <a href="#">
              <img src="/image/home/client/<%= client.img %>" alt="<%= client.title %>">
            </a>
          </div><!-- .item -->
          <% }); %>
	</div><!-- #slider-thumbnail -->
      </div><!-- .col-md-12 -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #client -->
<!-- end:client -->
