<!-- begin:cta -->
<div id="cta" class="cta block-section padd-40-top padd-40-btm bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h4>Possiamo esserti di aiuto?</h4>
        <p>Contattaci e ti risponderà un nostro tecnico per un sopralluogo in cantiere senza impegno.</p>
      </div><!-- .col-sm-6 -->
      <div class="col-sm-4 text-right marg-20-top">
        <a href="tel:+393395352412" class="button">Chiamaci al 339 5352412</a>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #cta -->
<!-- end:cta -->
