<!-- begin:cta -->
<div id="cta" class="cta block-section padd-40-top padd-40-btm bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h4>Looking for Professionals to project and build your dream home?</h4>
        <p>We offer the best engineers and builders to make your dreams come true.</p>
      </div><!-- .col-sm-6 -->
      <div class="col-sm-4 text-right marg-20-top">
        <a href="#" class="button">Let's talk together</a>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #cta -->
<!-- end:cta -->
