<!-- begin:work -->
<div id="work" class="work content-section bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>I nostri lavori</h2>
        </div>
      </div><!-- .col-md-12 -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-md-12">
        <ul class="work-filter">
          <li class="active" data-filter="*"><a href="#">Tutti</a></li>
          <li data-filter=".pav"><a href="#pav">Pavimenti in calcestruzzo</a></li>
          <li data-filter=".rampe"><a href="#rampe">Rampe antiscivolo</a></li>
          <li data-filter=".resina"><a href="#resina">Pavimenti in resina</a></li>
          <li data-filter=".stampati"><a href="#stampati">Pavimenti stampati</a></li>
	  <li data-filter=".lavato"><a href="#lavato">Pavimenti sasso lavato</a></li>
	  <li data-filter=".acidificato"><a href="#acidificato">Pavimenti acidificati</a></li>
        </ul><!-- .work-filter -->
	
	<ul class="work-grid">
	  <% works.work.forEach(function(work) { %>
	     <% include oneWork.html %>
	  <% }); %>
        </ul><!-- .work-grid -->
      </div><!-- .col-md-12 -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #work -->
<!-- end:work -->
