<!-- begin:site-main -->
<div class="site-main">
  <!-- begin:content-section -->
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar site-sidebar">
	    <% include ../../main/listServices/index.html %>
            <% include ../../main/brochure.html %>
          </div><!-- .sidebar -->
        </div><!-- .col-## -->
	<div class="col-md-9">
          <div class="entry-content">
	    <% include item/index.html %>
	  </div><!-- .entry-content -->
        </div><!-- .col-## -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .content-section -->
  <!-- end:content-section -->
</div><!-- .site-main -->
<!-- end:site-main -->
